{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'style.css'%}" />
<title>Museos de Madrid</title>
<div class="topnav">
  <style>

  {{ formato }}

  </style>

  <img id="banner" src="{% static 'logo.png'%}" />
  <a href="/">Inicio</a>
  <a href="/{{ user }}">Área personal</a>
  <a href="/museos">Museos</a>
  {% ifnotequal login 0 %}
  <a href="/{{ user }}/preferencias">Preferencias</a>
  {% endifnotequal %}
  <a class="active" href="/about">About</a>
  {% ifequal login 0 %}
    <div id="login">
      <form action='/login/' method='post'>
        Usuario &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="desplegable" type="text" name="Usuario" > <input class="desplegable" type="submit" name='registro' value="Registro" class="caja"><br>
        Contraseña <input class="desplegable" type="password" name="Contraseña" > <input class="desplegable" type="submit" name='login' value=" Login " class="caja">
      </form>
    </div>
  {% endifequal %}
  {% ifnotequal login 0 %}
    <div >

    <a id="logout" href="/logout/">Bienvenido, {{ user }} Logout</a>

    </div>
  {% endifnotequal %}
</div>
<body>

  <div id ='about'>
    <div class="titulonav">
      <center><b>About</b><center>
    </div></br>
Esta página web ha sido realizada por José María Moreno Rodríguez con motivo de la evaluación final de la asignatura Servicios y Aplicaciones en Redes de Ordenadores, perteneciente al Grado en Ingeniería en Sistemas de Telecomunicación.
<br><br>
El funcionamiento de la misma es el que sigue:<br>
-> Inicio: se muestra el listado con las páginas personales y los museos con más comentarios (máximo cinco). En caso de que no los haya, aparece un mensaje informando de ello. También se muestran sus coordenadas en el mapa, en caso de que estén disponibles en la base de datos.
<br>-> Página personal: se muestran los museos que cada usuario haya seleccionado como favoritos, además del mapa con sus coordenadas.
<br>-> Museos: listado de todos los museos de Madrid con filtro por distrito.
<br>-> Preferencias: únicamente visible si se está logueado. Aquí el usuario podrá cambiar tanto el título de su página como el tamaño de la letra y el color del fondo.

</div>
</body>
<!--{{ link |safe}}-->

<div class="footer">
  <p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid<br>
  <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default"><font color="lightblue">Museos de la ciudad de Madrid</font></a>
</p>
</div>
