{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'style.css'%}" />
<title>Museos de Madrid</title>
<div class="topnav">
<style>

{{ formato }}

</style>
  <img id="banner" src="{% static 'logo.png'%}" />
  <a href="/">Inicio</a>
  <a class="active" href="/{{ user }}">Área personal</a>
  <a href="/museos">Museos</a>
  {% ifnotequal login 0 %}
  <a href="/{{ user }}/preferencias">Preferencias</a>
  {% endifnotequal %}
  <a href="/about">About</a>
  {% ifequal login 0 %}
    <div id="login">
      <form action='/login/' method='post'>
        Usuario &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="desplegable" type="text" name="Usuario" > <input class="desplegable" type="submit" name='registro' value="Registro" class="caja"><br>
        Contraseña <input class="desplegable" type="password" name="Contraseña" > <input class="desplegable" type="submit" name='login' value=" Login " class="caja">
      </form>
    </div>
  {% endifequal %}
  {% ifnotequal login 0 %}
    <div >

    <a id="logout" href="/logout/">Bienvenido, {{ user }} Logout</a>

    </div>
  {% endifnotequal %}
</div>

<div id="nav">
   <div class="titulonav">
   <center><b>Páginas personales</b></center>
   </div>

   <div class="cuerporec">
   <ul>
     {{ userList |safe}}
   </ul>
   </div>
</div>

<div id='comentarios'>
<div class="titulonav">
<center><b>Museos favoritos</b></center>
</div>
{{ body |safe}}
</div>

<div id='mapa'>
  <div class="titulonav">
    <center><b>Ubicación de los museos favoritos
  </b><center>
    </div>
  <div id="map"></div>

  <script>
    function initMap() {
      var madrid = {lat: 40.4169, lng: -3.7035};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: madrid
      });
      {{ markers |safe }}
    }
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRIKgXLoRvMGHsuBQH2aqhDtngA0jl8Cg&callback=initMap">
  </script>

</body>
<br>
<br>
<br>
</div>

<div class="footer">
  <p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid<br>
  <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default"><font color="lightblue">Museos de la ciudad de Madrid</font></a>
</p>
</div>
